# Environment variable configuration

# Database configuration
# SQLite URL
DATABASE_URL=sqlite+aiosqlite:///resource/database.db
# MySQL
# DATABASE_URL=mysql+aiomysql://root:root@localhost/ai-chatkit

# Application configuration
DEBUG=True
APP_NAME=AI ChatKit

# OpenAI
OPENAI_BASE_URL=
OPENAI_API_KEY=
DEFAULT_MODEL=gpt-4o-mini

# DashScope
#DASHSCOPE_API_KEY=
#DEFAULT_MODEL=qwen-plus

#DeepSeek
#DEEPSEEK_API_KEY=
#DEFAULT_MODEL=deepseek-chat

# Use bge-m3 as the embedding model, supporting both Chinese and English; requires local deployment of the bge-m3 model via Ollama
EMBEDDING_MODEL=mxbai-embed-large

# Relative storage path for ChromaDB
CHROMA_PATH=resource/chroma_db
